/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)

### Neutral

- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

## Typography

### Body Copy

- Font size (Introductory Paragraph): 15px

### Font

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 600, 800 */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@600;800&family=Space+Mono&display=swap');

html{
    font-family: "Manrope", sans-serif;
}

body {
    min-height: 100vh;
    padding: auto;
    display: grid;
    place-items: start center;
    background: hsl(230, 100%, 99%);
    background: url(/assets/bg-pattern.svg)no-repeat, #f9faff;
    background-size: auto 50%;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 102.4px;
    width: 100%;
}

.pricing-card-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 12.8px;
    position: relative;
}

.pricing-card-header::before{
    position: absolute;
    content: "";
    background: url('/pattern-circles.svg') no-repeat center;
    width: 100%;
    height: 300%;
    transform: translate(0, -33%);
    z-index: -1;
}

.pricing-card-header h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 43.2px;
    text-align: center;
    color: hsl(227, 35%, 25%);
}

.pricing-card-header p{
    font-weight: 600;
    font-size: 20.8px;
    line-height: 36.8px;
    text-align: center;
    color: hsl(225, 20%, 60%);
    max-width: 272px;
}

form.pricing-card{
    background: white;
    width: 100%;
    max-width: 540px; 
    display: grid;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 186, 0.152073);
    border-radius: 12.8px;
    padding: 54.4px;
    gap: 54.4px;
    justify-content: center;
}

.pricing-card-views {
    font-weight: 800;
    font-size: 19.2px;
    line-height: 26.6px;
    text-align: center;
    letter-spacing: 2.74px;
    text-transform: uppercase;
    color: hsl(225, 20%, 60%);
}

.pricing-card-views-range {
    margin: 11.2px 0 9.6px;
    max-width: 85%;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

form.pricing-card{
    --left: 50;
    --track-h: 12.8px;
    --track-bg: white;
    --track-br: 8px; 
}

form.pricing-card{
    --thumb-dimensions: 64px; 
    --thumb-br: 50%;
    --thumb-bg: #10d8c4;
    --thumb-hoover-bg: #7aeadf;
    --thumb-active-bg:  #24aea1;
    --thumb-bs: 0px 15px 30px  rgb(0, 255, 231, 0.6);
}

input[type="range"]::-webkit-slider-thumb {    
    margin-top: -22.4px;
    height: var(--thumb-dimensions);
    width: var(--thumb-dimensions);
    border-radius: var(--thumb-br);
    cursor: pointer;
    background: url(/assets/icon-slider.svg) center no-repeat, var(--thumb-bg);
    box-shadow: var(--thumb-bs);
    transition: background 250ms;
}

input[type="range"]:hover::-webkit-slider-thumb{
    background-color: var(--thumb-hover-bg);
}

input[type="range"]:active::-webkit-slider-thumb{
    background-color: var(--thumb-active-bg);
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--track-h);
    cursor: pointer;
    background: var(--track-bg);
    border-radius: var(--track-br);
    background-image: linear-gradient(to right, #a4f3eb calc(var(--left) * 1%), transparent 0%);
}
